@import url('https://fonts.googleapis.com/css?family=Work+Sans');
* {
    font-family: 'Work Sans', sans-serif;
}

.copyrights{
    position: absolute;
    top:180px;
    left: 500px;
    z-index: 1;
}

#mapa {
    height: 600px;
    width: 100%
}

/* Dropdown */

.list {
    list-style: none;
}

.icons {
    height: 32px;
    width: 32px;
}

.iconsBigscreen{
    position: relative;
    left: 10px;
}

.footericons {
    height: 20px;
    width: 20px;
    margin: 5px;
}

.dropContent {
    position: absolute;
    left: 606px;
    width: 253px;
    background-color: white;
    position: absolute;
    top: 39px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 50px;
    z-index: -1;
    cursor: pointer;
    text-decoration: none;
    opacity: 0.8;
    outline: 0;
    display: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dropContent ul {
    position: relative;
    left: -30px;
}

.dropdown .dropContent ul li:hover {
    
    text-decoration: none;
    background-color: gray;
   width: 230px;
    border-radius: 10px;
    outline-offset: 0;
}

.dropdown:hover .dropContent{
    display: block;
}

a {
    text-decoration: none;
}

.dropContent ul {
    width: 100%;
    list-style: none;
    text-decoration: none;
}



/* For mobile screens */
.smalldropdown-content {
    background-color: white;
    position: absolute;
    top: 39px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 50px;
    padding: 15px;
    width: 100%;
    z-index: -1;
    cursor: pointer;
    display: none;
    text-decoration: none;
    opacity: 0.9;
    outline: 0;
}

.menuicon {
    cursor: pointer;
}

.smalldropdown:hover .smalldropdown-content {
    display: block;
}

.smalldropdown-content ul {
    width: 100%;
    list-style: none;
    text-decoration: none;
}

.smalldropdown-content ul li:hover {
    text-decoration: none;
    background-color: gray;
    border-radius: 10px;
    outline-offset: 0;
}

.keyclass {
    display: none;
}

.subcontent {
    display: none;
}

.subdropdown ul li:hover {
    text-decoration: none;
    background-color: gray;
    border-radius: 10px;
    outline-offset: 0;
}

.subdropdown:hover .subcontent {
    display: block;
}

.tagContent {
    position: fixed;
    bottom: 200px;
    left: 40px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    height: 300px;
    width: 300px;
    border: 5px solid gray;
    border-spacing: 2px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px;
}

.contentofthetag {
    display: none;
}

#sair {
    position: relative;
    color: black;
    background-color: gray;
    top: -50px;
    border-radius: 10px;
    width: 100px;
    opacity: 0.9;
    height: 50px;
    cursor: pointer;
    z-index: -1;
}