@import url('https://fonts.googleapis.com/css?family=Work+Sans');
* {
    font-family: 'Work Sans', sans-serif;
}

#mapa {
    height: 600px;
    width: 100%
}

/* Dropdown */
.list{
    list-style: none;
}
.icons {
    height: 32px;
    width: 32px;
}

.dropContent {

}

.dropdown:hover .dropContent {
   
}


a{
    text-decoration: none;
}



.smalldropdown-content {
    background-color: white;
    position: absolute;
    top: 39px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 50px;
    padding: 15px;
    width: 100%;
    z-index: -1;
    cursor: pointer;
    display: none;
    text-decoration: none;
    outline: 0;
}

.menuicon {
    cursor: pointer;
}

.smalldropdown:hover .smalldropdown-content {
    display: block;
}

.smalldropdown-content ul {
    width: 100%;
    list-style: none;
    text-decoration: none;
}

.smalldropdown-content ul li:hover {
    text-decoration: none;
    background-color: gray;
    outline-offset: 0;
}



.keyclass {
    display: none;
}
