@media (max-width: 600px) {
    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 1000px;
        width: 100%;
    }
    .footer-container .top-container {
        margin-top: 20px;
        height: 300px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .footer-container .top-container .social-container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .footer-container .top-container .social-container span {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        font-size: 18px;
        font-weight: bold;
    }
    .footer-container .top-container .social-container ul {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        justify-content: space-evenly;
        align-items: center;
        height: 200px;
    }
    .footer-container .top-container .social-container ul li {
        list-style: none;
    }
    .footer-container .top-container .partners-container {
        height: 600px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-container .top-container .partners-container span {
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: bold;
    }
    .footer-container .top-container .partners-container ul li {
        list-style: none;
    }
    .footer-container .madeBy-container {
        height: 60px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer-container .madeBy-container span {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        font-size: 18px;
        font-weight: bold;
    }
}